:root {
    --primary-font: 'Roboto',
        sans-serif;
    --secondary-font: 'Montserrat',
        sans-serif;
    --primary-txt-clr: #ffffff;
    --secodary-txt-clr: #F65282;

}

body {
    font-family: var(--primary-font);
    color: var(--primary-txt-clr);
    text-align: center;
    background-color: black;

}


h1 {
    font-weight: 700;
    font-size: 72px;
    letter-spacing: 7.2px;

}

h2 {
    font-size: 18px;
    font-weight: 700;
    color: var(--secodary-txt-clr);

}
h3{
    font-size: 18px;
    font-weight: 700;
    background-color: #2D2727;
    display: inline-block;
    padding: 20px;
    border-radius: 4px;

}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.hero {
    padding: 160px 250px;
}

.hero--top {
    background-image: url(/img/benpic10.png);
    background-repeat: no-repeat;
    background-position: top 30px center;
    background-size: 100%;

}

.hero--top .top-inner {
    position: relative;

}

.hero h2 {
    color: white;
    font-size: 24px;
    text-align: center;
}
.about-hero{
    text-align: left; 
    margin: 0;
    padding: 0;   
}
.about-hero img{
    width: 700px;
    height: 782px;
}
.about-section {
    margin: 90px 40px;
}
.about-section h1{
    font-size: 50px;
    font-weight: 700;
}

.container-gallery {
    margin: 68px 45px;
}

#footer-title {
    font-size: 16px;
}

#name-icon {
    font-size: 20px;
}

#icons-footer {
    display: flex;
    justify-content: space-evenly;
}
#hero-button {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 14px;
    padding: 18px 30px;

}


@media (max-width:800px) {
    .hero--top {
        background-image: url(/img/benpic10.png);
        background-position: center;
        background-size: auto;
    }

    .hero h2 {
        font-size: 15px;
    }

    .hero {
        padding: 160px 204px;
    }

    p {
        font-size: 12px;
        line-height: 20px;
    }

    h1 {
        font-size: 43px;

    }

    #hero-button {
        font-size: 12px;
        padding: 15px 25px;
    }

    .container-gallery {
        margin: 40px 45px;

    }

    #footer-title {
        font-size: 10px;
    }
.about-hero {
    text-align: center;
}

.about-hero img {
    max-width: fit-content;
}
}

@media (max-width:500px) {
    .hero--top {
        background-image: url(/img/mobile-glr-10.png);
        background-position: center;
        background-size: 100%;
    }

    .hero {
        padding: 220px 24px;
    }

    h1 {
        font-size: 35px;
    }

    #hero-button {
        font-size: 12px;
        padding: 15px 25px;
    }

    .container-gallery {
        margin: 45px 32px;

    }

    .footer {
        margin: 48px 48px;
        line-height: 2.5;
    }

}

@media (max-width:400px) {

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 15px;
    }

    .container-gallery {
        margin: 32px;

    }
        .about-hero img {
            height: 375px;
        }

.about-section {
    padding: 0;
    margin: 75px 20px;
}
.about-section h1{
    font-size: 35px;
}
.about-hero{
    text-align: center;
   
}
}