:root {
    --primary-font: 'Roboto',
        sans-serif;
    --secondary-font: 'Montserrat',
        sans-serif;
    --primary-txt-clr: #ffffff;
    --secodary-txt-clr: #F65282;
}

body {
    font-family: var(--primary-font);
    background-color: black;
    color: var(--primary-txt-clr);
    display: block;
    margin: 100px auto;

}

h1 {
    font-weight: 700;
    font-size: 72px;
    letter-spacing: 7.2px;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    color: var(--secodary-txt-clr);
    text-align: left;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

}

#hero-button {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 14px;
    padding: 18px 30px;

}

.hero {
    text-align: center;
    padding: 160px 250px;
}

.hero h2 {
    color: white;
    font-size: 24px;
}

.hero p {
    margin: 100px 130px;
}

.about-title {
    font-size: 64px;
    letter-spacing: 6.4px;
}