:root {
    --primary-font: 'Roboto',
        sans-serif;
    --secondary-font: 'Montserrat',
        sans-serif;
    --primary-txt-clr: #ffffff;
    --secodary-txt-clr: #F65282;

}

body {
    font-family: var(--primary-font);
    color: var(--primary-txt-clr);
    text-align: center;
    background-color: black;
}


h1 {
    font-weight: 700;
    font-size: 72px;
    letter-spacing: 7.2px;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    color: var(--secodary-txt-clr);
    text-align: left;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

}

#hero-button {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 14px;
    padding: 18px 30px;

}

.hero {
    padding: 160px 250px;

}

.hero--top {
    background-image: url(/img/benpic10.png);
    background-repeat: no-repeat;
    background-position: top 30px left;
    background-size: 100%;

}

.hero--top .top-inner {
    position: relative;
    overflow: hidden;
}

.hero h2 {
    color: white;
    font-size: 24px;
    text-align: center;
}

.hero p {
    margin: 65px 200px;
}

.about-title {
    font-size: 64px;
    letter-spacing: 6.4px;
}